body{
    background-color: #aaaaaa;
    }
 .ImageParte{
        width:100%;
        height:30rem;                
 }
 @media(min-width:576px)
 {
   #titre{font-size:30px;}
 }

 @media(min-width:788px)
 {
   #titre{font-size:45px;}
 }

 

 #ImgP{
    width:100%;
        height:100%;
 }


 .headerPerso{
      min-height:10rem;              
      animation-name: dambe2_anima;
      animation-direction: alternate;
         animation-duration: 20s;
         animation-delay: 10s;
         animation-iteration-count: infinite;
         animation-timing-function: ease-in-out;

      }
       
     

      @keyframes dambe2_anima{
                        0%{background-color: rgb(180, 180, 240);                                
                            /* transform: translate(0%,-100%) rotate(0deg);*/
                             box-shadow: 15px 15px 30px rgba(140,70,212,0);
                          }
                         25%{
                             color:#f69666;   
                             background-color:#ecfcbc;
                            }
                         50%{
                              color:burlywood;
                              box-shadow: 15px 15px 30px rgba(200,100,90,0);
                              background: color #d0efd0;;                                
                             }
                         75%{
                             color:#7f4e33;
                             box-shadow: 15px 15px 30px rgba(200,200,200,0);                                
                            }
                        100%{
                              background-color:#2222;
                              color:white;
                              box-shadow: 15px 15px 30px rgba(100,200,110,0);
                             }
                  }



 #facebook,#instagram,#twitter{
width:70px;
height:70px;
border-radius:50%;
}
/*Mise en forme  des image de la page des images resaux socio*/
#facebook:hover{
background-color: green;
color:yellow;
}
#twitter:hover {
background-color: blue;
color:yellow;
}
#instagram:hover {
background-color: orange;
color:yellow;
}
li a:hover{
border:1px solid white;
background-color:white;
font-style:bold;
border-radius:10px;
}

#LiensTutoMaChaine a:hover{ 
                          border:1px solid green;
                          padding:5px;
                          color:green;
                         }

